.about h1 {
  text-align: center;
}

.table {
  border: 0px solid;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  background-color: white;
  color: black;
  padding: 20px 20px;
  border-radius: 10px;
}

.ddot {
  padding: 0px 10px;
}
