.body {
  font-family: acumin-pro, system-ui, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #232931;
  align-items: start;
}

.footer {
  padding: 20px 5px;
  color: white;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #151315,
    #222023,
    #2d2d33,
    #373c43
  );
  text-align: center;
}

.footer h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: #eeeeee;
}

.footer p {
  color: #a5a5a5;
}

/* HR Line */
.horizline {
  max-width: 35%;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* Button */
.button_28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #1a1a1a;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  min-width: 0;
  max-width: 10%;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  background-color: #eeeeee;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.button_28:disabled {
  pointer-events: none;
}

.button_28:hover {
  color: #eeeeee;
  background-image: linear-gradient(to right, #6105fe, #ff5fe7);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button_28:active {
  box-shadow: none;
  transform: translateY(0);
}

.button_28 a {
  text-decoration: none;
  color: #151315;
}

.button_28 a:hover {
  text-decoration: none;
  color: #eeeeee;
}

/* Social Media Share */
.share {
  padding: 10px 0px;
}

.icon {
  margin: 0px 5px;
  transition: transform 0.2s;
}

.icon:hover {
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25);
}
