.header {
  margin: 0;
  background: #1b2430;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 25px;
  margin: 0 auto;
}

.nav {
  overflow: hidden;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: inline-start;
  text-align: center;
}

.nav .li {
  display: inline-block;
  margin: 12px;
  transition: 0.5s linear;
  padding: 5px;
}

.nav .a {
  text-decoration: none;
  display: block;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.nav .a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background: #ff5fe7;
  transition: width 0.5s linear;
}

.a:hover {
  color: #6105fe;
  transition: width 0.5s linear;
}

.nav .a:hover:after {
  width: 100%;
}

@media screen and (max-width: 660px) {
  .header {
    text-align: center;
  }
  .logo_box {
    float: none;
    display: inline-block;
    margin: 0 0 16px 0;
  }
  .ul {
    float: none;
  }
  .nav li:first-of-type {
    margin-left: 0;
  }
}
@media screen and (max-width: 550px) {
  .nav {
    overflow: visible;
  }
  .nav .li {
    display: block;
    margin: 0;
    height: 40px;
    line-height: 40px;
  }
  .nav li:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .nav .a:after {
    content: none;
  }
}
